html,
body {

}

.wrap {

}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}


.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e113" /*"\e151"*/;
}

a.desc:after {
    content: "\e114" /*"\e152"*/;
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }

    .wrap > .container {
        padding-left: 30px;
        padding-top: 70px;
        padding-bottom: 30px;
        padding-right: 30px;
        width: 100vmax;
    }
}

@media (max-width: 970px) {
    .wrap > .container {
        padding-left: 5px;
        padding-top: 70px;
        padding-bottom: 30px;
        padding-right: 5px;
        width: 100vmax;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.jumbotron .btn {
    border-radius: 0;
    font-size: 15px;
    padding: 10px 18px;
    border: 0;
}

.main-menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 50px;
}

.uk-icon-link {
    cursor: pointer;
}

.uk-navbar-toggle {
    color: #fff;
}

.uk-navbar-item, .uk-navbar-nav > li > a, .uk-navbar-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 50px;
    padding: 0 15px;
    font-size: 1.05rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-decoration: none;
}

.uk-margin-auto-vertical {
    margin-top: 0;
    margin-bottom: auto !important;
}

#main-pjax {
    height: 100%;
}

.color-fff {
    color: #fff;
}

h3 {
    margin-top: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.vmax1 {
    margin-right: 1vmax;
}

.container {

    width: 90vmax;

}

.uk-navbar-toggle:hover {
    color: #f5f5f5;
}

.btn-group {
    border-radius: 0;
}

.btn {
    border-radius: 0;
}

.uk-form-label {
    font-weight: inherit;
    color: #666;
}

.f-left {
    float: left;
}

.ls-search-form {
    margin-top: 0px;
}

.edit-block-action {
    padding-bottom: 1vmin;
    overflow: hidden;
    padding-top: 2.0vmin;
}

.uk-margin {
    overflow: hidden;
}

.panel-num-1 {
    overflow: hidden;
    padding-left: 1vmax;
    padding-right: 1vmax;
}

.view-card-body {
    padding: 10px 0px;
}

.margin-top0 {
    margin-top: 0
}

.margin-bottom10 {
    margin-bottom: 10px;
}

.uk-h4, h4 {
    font-size: 1.0rem;
    line-height: 1;
}

.uk-text-large {
    font-size: 1.0rem;
    line-height: 1.0;
}

.uk-input, .uk-select:not([multiple]):not([size]) {
    height: 40px;
    vertical-align: middle;
    display: inline-block;
    font-size: 1.0rem;
    color: #333 !important;
}

.uk-textarea:not([multiple]):not([size]) {
    vertical-align: middle;
    font-size: 1.0rem;
    color: #333 !important;
}

.uk-form-label {
    font-weight: inherit;
    font-size: 1.0rem;
    color: #333
}

.uk-navbar-dropdown-nav > li > a.color-000 {
    color: #000000;
}

.uk-table-divider td {
    text-align: left !important;
}

.uk-nav > li > .main-menu-item {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #ffffff;
}

.uk-nav > li > .main-menu-item:hover {
    color: #f5f5f5;
}

.uk-nav > li > .main-menu-heder {
    font-size: 1.3rem;
    line-height: 1.4;
    color: #fafafa;
}

.uk-grid > * > :last-child {
    margin-bottom: auto;
}

.uk-form-controls {
    margin-bottom: 20px;
}

.uk-margin {
    margin-bottom: 10px;
}

.uk-progress {
    vertical-align: baseline;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    width: 100%;
    border: 0;
    background-color: #eaeaea;
    margin-bottom: 20px;
    height: 5px;
    border-radius: 0px;
    overflow: hidden;
    z-index: 999;
}

.uk-progress::-webkit-progress-bar {
    background-color: #f8f8f8;
    border-radius: 500px;
    overflow: hidden;
}

/* 2 */
.uk-progress:indeterminate::-moz-progress-bar {
    width: 0;
}

/*
 * Progress bar
 * 1. Remove right border in IE11 and Edge
 */
.uk-progress::-webkit-progress-value {
    background-color: #850005;
    transition: width 0.6s ease;
}

.uk-progress::-moz-progress-bar {
    background-color: #850005;
}

.uk-progress::-ms-fill {
    background-color: #850005;
    transition: width 0.6s ease;
    /* 1 */
    border: 0;
}

* + .uk-grid-margin, .uk-grid + .uk-grid, .uk-grid > .uk-grid-margin {
    margin-top: 10px;
}

.modul-card-badge {
    position: absolute;
    right: 30px;
    z-index: 1;
    float: right;
}

.modul-label {
    display: inline-block;
    padding: 5px 16px;
    background: #5aac55;
    line-height: 1.5;
    font-size: .875rem;
    color: #fff;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 0px;
    text-transform: uppercase;
}

.uk-card-default.uk-card-hover:hover {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
}

.uk-nav-default > li > a {
    color: #423f3f;
}

.endpoint-label-unavailable {
    display: inline-block;
    padding: 0 10px;
    background: #8c8c8c;
    line-height: 1.5;
    font-size: .875rem;
    color: #fff;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 2px;
    text-transform: uppercase;
    cursor: pointer;
}
.endpoint-label-ringing {
    display: inline-block;
    padding: 0 10px;
    background: #ff8e03;
    line-height: 1.5;
    font-size: .875rem;
    color: #fff;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 2px;
    text-transform: uppercase;
    cursor: pointer;
}
.endpoint-label-not-in-use {
    display: inline-block;
    padding: 0 10px;
    background: #487edc;
    line-height: 1.5;
    font-size: .875rem;
    color: #fff;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 2px;
    text-transform: uppercase;
    cursor: pointer;
}
.endpoint-label-in-use {
     display: inline-block;
     padding: 0 10px;
     background: #02ff21;
     line-height: 1.5;
     font-size: .875rem;
     color: #fff;
     vertical-align: middle;
     white-space: nowrap;
     border-radius: 2px;
     text-transform: uppercase;
     cursor: pointer;
 }
.endpoint-label-invalid {
    display: inline-block;
    padding: 0 10px;
    background: #e00000;
    line-height: 1.5;
    font-size: .875rem;
    color: #fff;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 2px;
    text-transform: uppercase;
    cursor: pointer;
}
.endpoint-label-not-found {
     display: inline-block;
     padding: 0 10px;
     background: #eeacb5;
     line-height: 1.5;
     font-size: .875rem;
     color: #fff;
     vertical-align: middle;
     white-space: nowrap;
     border-radius: 2px;
     text-transform: uppercase;
     cursor: pointer;
 }

.endpoint-label{
    display: inline-block;
    padding: 0 10px;
    background: #f5bf02;
    line-height: 1.5;
    font-size: .875rem;
    color: #fff;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 2px;
    text-transform: uppercase;
    cursor: pointer;
}
.ws-indicator-off{
    color: #fff;
}
.ws-indicator-on{
    color: #ffb01c;
}
.width-widget-xl{
    width: 50vmax;
}

#spinner-widget-channels{
    position: fixed;
    top: 8px;
    z-index: 100;
    color: #fff;
    right: 0;
    display: none;
}
#spinner-widget-extension{
    position: fixed;
    top: 8px;
    z-index: 100;
    color: #fff;
    right: 0;
    display: none;
}

#name-widget-channels{
    position: fixed;
    top: 0px;
    z-index: 100;
    color: #fff;
    left: 0px;
}
.widget-name{
    position: absolute;
    top: 10px;
    right: 10px;
}
